{% extends 'base.html' %}
{% block title %}Home Page{% endblock %}
{% block content %}
<h3 xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"> Skontaktuj się ze mną :) </h3>
<form action="*">
    <label>Nazwisko:&nbsp&nbsp&nbsp&nbsp</label> <input type="text" name="nazwisko" size="50" maxlength="30" />
    </br>
    <label>Imie:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label> <input type="text" name="nazwisko" size="50" maxlength="30" />
    </br>
    <label>adres email:&nbsp</label> <input type="text" name="nazwisko" size="50" maxlength="30" />
    </br>
    Wiadomość:<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<textarea name=text rows=5 cols=60" /></textarea>
    </br>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type=submit value="Submit">

</form>

<p></p>
{% endblock %}