{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
        <h3 class="gallery-title">Gallery</h3>
        <div class="row">
            <a href="https://unsplash.it/1200/768.jpg?image=251" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 col-md-3 col-6 my-3">
                <img src="https://unsplash.it/600.jpg?image=251" class="img-fluid card">
            </a>
            <a href="https://unsplash.it/1200/768.jpg?image=252" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 col-md-3 col-6 my-3">
                <img src="https://unsplash.it/600.jpg?image=252" class="img-fluid card">
            </a>
            <a href="https://unsplash.it/1200/768.jpg?image=253" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 col-md-3 col-6 my-3">
                <img src="https://unsplash.it/600.jpg?image=253" class="img-fluid card">
            </a>
        </div>
        <div class="row">
            <a href="https://unsplash.it/1200/768.jpg?image=254" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 col-md-3 col-6 my-3">
                <img src="https://unsplash.it/600.jpg?image=254" class="img-fluid card">
            </a>
            <a href="https://unsplash.it/1200/768.jpg?image=255" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 col-md-3 col-6 my-3">
                <img src="https://unsplash.it/600.jpg?image=255" class="img-fluid card">
            </a>
            <a href="https://unsplash.it/1200/768.jpg?image=256" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 col-md-3 col-6 my-3">
                <img src="https://unsplash.it/600.jpg?image=256" class="img-fluid card">
            </a>
        </div>
        <div class="row">
            <a href="https://unsplash.it/1200/768.jpg?image=254" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 col-md-3 col-6 my-3">
                <img src="static/kot.jpg" class="img-fluid card">
            </a>
            <a href="https://unsplash.it/1200/768.jpg?image=255" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 col-md-3 col-6 my-3">
                <img src="static/krowa.jpg" class="img-fluid card">
            </a>
            <a href="https://unsplash.it/1200/768.jpg?image=256" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 col-md-3 col-6 my-3">
                <img src="static/krasnal.jpg" class="img-fluid card">
            </a>
        </div>
    </div>
</div>
</div>
{% endblock %}